<p>Уважаемый (ая) {{ name }},</p>
<p>Пожалуйста нажмите на ссылку для подтверждения вашей почты</p>
<p>
    <a href="{{ url }}">Подтвердить</a>
</p>

<p>Если вы не запрашивали это письмо, вы можете спокойно его игнорировать.</p>